<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>List Customer</h2>
<a href="/customer/create">Create Customer</a>
<!--<input type="text">-->


<table border="1" cellpadding="2px">
    <tr>
        <th>ID</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>IMG</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="list: ${c}" th:object="${i}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.firstName}"></td>
        <td th:text="${list.lastName}"></td>
        <td><img height="100px" th:src="@{'/i/' + ${list.img}}" /></td>

        <td th:text="${list.type.getName}"></td>
        <td><a th:href="@{/customer/edit(id=${list.id})}">Edit</a></td>
        <td><a th:href="@{/customer/remove/(id=${list.id})}">Remove</a></td>
    </tr>
</table>
</body>
</html>