<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AJAX</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
    function addType() {
      let name = $('#name').val();
      let newType = {
        name: name
      };
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "POST",
        data: JSON.stringify(newType),
        //tên API
        url: "/api/type/home",
        //xử lý khi thành công
        success: successHandler

      });
      event.preventDefault();
    }
    function getType(newType) {
      return `<tr><td>${newType.name}</td>
              <td><button class="edit" onclick="formEdit()" th:href="${newType.id}">Edit</button></td>` +
              `<td><a class="remove" href="${newType.id}">Remove</a></td></tr>`;
    }
    function successHandler() {
      $.ajax({
        type: "GET",
        url: "/api/type",
        success: function (data) {
          let content = '    <tr>\n' +
                  '        <td>Name</td>' +
                  '        <td>Edit</td>' +
                  '        <td>Remove</td>' +
                  '    </tr>';
          for (let i = 0; i < data.length; i++) {
            content += getType(data[i]);
          }
          document.getElementById('listType').innerHTML = content;
        }
      });
    }
    $(document).ready(function () {
      $('.remove').click(function (event) {
        //lay du lieu
        let t = $(this);
        let typeID = t.attr("href");
        $.ajax({
          type: "DELETE",
          url: "/api/type/"+ typeID,
          success: function (data) {
            t.parent().parent().remove();
          }
        });
        event.preventDefault();
      });
    })

  </script>
</head>
<body>
<form method="post">
  <table border="1">
    <tr>
      <td>FirstName</td>
      </tr>
    <tr th:object="${type}">
      <td><input id="name" th:field="*{name}"></td>
    </tr>
  </table>
  <button type="submit" value="Add" onclick="addType()">Add type</button>
</form>

<table id="listType" border="1" cellpadding="2px">
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr th:each="list: ${listType}" >
    <td th:text="${list.name}"></td>
    <td><button class="edit" id="id5" type="button" onclick="formEdit(this.value)" th:value="${list.id}">Edit</button></td>
    <td><a class="remove" th:href="${list.id}">Remove</a></td>
  </tr>
</table >
<form>
<table id="editType">
</table>
</form>
</body>
</html>
<script>

  function  formEdit(id) {
    console.log(id)
    let c = "";
    c= "<tr><td>Name</td><td><input type='text' id='newName'></td>" +
        "<tr><td><input type='hidden' id='id' value='"+id+"' ></td>" +
            "<tr><td><button type='submit' onclick='updateNow()' class='update'>Update</button> </td></tr>"
    return document.getElementById("editType").innerHTML= c;
  }

     function updateNow() {
       let id = $('#id').val();
       let name = $('#newName').val();
       let newType = {
         id: id,
         name : name
       }
       $.ajax({
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json'
         },
         type: "PUT",
         data: JSON.stringify(newType),
         //tên API
         url: "/api/type/" + id,
         success: successHandler
       });
       event.preventDefault();
     }


</script>